body{
    background: #00dbde;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#master{
    display: inline-block;
}
h1{
    font-size: 60px;
    color: black;
    font-style: bold;
}
#main{
    display:flex;
    flex-direction: column;
    
}
.c{
    display: flex;
    flex-direction: row;
    margin: auto;
}
button{
   color: #ffff;
   background: #ffff;
   width: 140px;
   height: 140px;
   margin-top: 2px;
   shadow: 2;
   border-radius: 4px;
   font-size: 48px;
   user-select: none;
}
